<div class="container">

  <div class="row">
    <ng-container *ngFor="let item of items">
      <div class="card col-sm-3">
        <img src="https://images-na.ssl-images-amazon.com/images/I/61%2BXkFYjMFL._SL1500_.jpg"
             alt="glasses"
             class="card-img-top">
        <div class="card-body">
          <p class="card-title">
            {{ item.title }}
          </p>
          <p class="card-text">
            {{ item.description }}
          </p>
          <p>{{item.price}}$</p>

          <div class="d-flex align-items-center justify-content-between">
            <button class="btn btn-primary" (click)="onItemClick(item)">Show</button>
            <button (click)="onLikeClick(item)" class="btn btn-primary" style="display: flex;">
              {{item.likes_count}}
              <fa style="color:red;" name="heart"></fa>
            </button>
          </div>

        </div>
      </div>
    </ng-container>
  </div>
</div>
